body{
    background-color: beige;
}

.btn{
    background-color: brown;

    &:hover{ background-color: blue;
    } 
    &:visited{
        background-color: chartreuse;
    }
}

body{
    background: {
        image:url(https://raw.githubusercontent.com/evrardsibo/Progressive-enhancement/main/beach.jpg);
        position: center;
        attachment:fixed;
        repeat:no-repeat;
        size: auto;
    }
}

h1{
    font:{

         style:italic;
         size: 50px;
         weight: 20px;
         family:"Brush Script MT",cursive;
         display:block ;

    }

}

.sass{
    background-color: rgb(212, 208, 208);
    width: 300px;
    h1{ font:{

        family:serif;
        style:oblique;
        weight:bold;
    }

}
    p{
        color:indianred;
        font-size: 14px;
        font-weight: bold;
    }

    a{
        text-decoration: none;

    }
}

